# Project 1: Driving Licenses, Traffic Accidents and Casualties Analysis

## Problem Statment

Craft your problem statement here using the prompt from the README and other sources you find during your investigation.

## Executive Summary
Write an executive summary that summarizes the problem and your key findings.

### Contents:
- [Datasets Description](#Datasets-Description)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here, including any Jupyter magic commands*

In [535]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

## Datasets Description

[Driving Licenses](https://datasource.kapsarc.org/explore/dataset/saudi-arabia-driving-licenses-issued-in-the-kingdom-2004-2008/information/?disjunctive.administritive_area&sort=time_period&location=5,24.37495,45.08024&basemap=jawg.streets)
This dataset contains Saudi Arabia Driving Licenses Issued By Administrative Area for 1993 - 2016. Data from General Authority for Statistics . Follow datasource.kapsarc.org for timely data to advance energy economics research.

[Traffic Accidents and Casualties](https://datasource.kapsarc.org/explore/dataset/saudi-arabia-traffic-accidents-and-casualties-injured-dead-2008/export/?disjunctive.region&disjunctive.indicator&sort=time_period)
This dataset contains Saudi Arabia Traffic Accidents and Casualties by Region for 2016. Data from General Authority for Statistics. Follow datasource.kapsarc.org for timely data to advance energy economics research.

## Data Import and Cleaning

#### 1. Read In Driving Licenses & Traffic Accidents Data
Read in the `saudi-arabia-traffic-accidents-2008.csv` and `saudi-arabia-driving-licenses-2004-2008.csv` files and assign them to appropriately named pandas dataframes.

In [536]:
#Code
traffic = pd.read_csv('../data/saudi-arabia-traffic-accidents-2008.csv', sep=';')
licenses = pd.read_csv('../data/saudi-arabia-driving-licenses-2004-2008.csv', sep=';')

#### 2. Display data

Print the first 10 rows of each dataframe to your jupyter notebook

In [537]:
#Code
traffic.head(10)

,Unnamed: 0,Unnamed: 0.1,Year,Region,Indicator,Value,geo_point_2d
0,0,0,(2016),Makkah,No. of Casualties - Injured,12383n,"21.628962766, 41.2636898334"
1,1,1,(2016),Eastern Region,No. of Casualties - Dead,1113n,"23.2883307307, 50.1478302439"
2,2,2,(2016),Tabouk,No. of Casualties - Dead,434n,"27.90165499, 37.2598581394"
3,3,3,(2016),Hail,No. of Casualties - Dead,299n,"27.400845724, 41.4406960508"
4,4,4,(2016),Hail,No. of Accidents,10199n,"27.400845724, 41.4406960508"
5,5,5,(2016),Northern Boarder,No. of Casualties - Dead,193n,"30.197074783, 41.8171186952"
6,6,6,(2017),Jazan,No. of Accidents,22161n,"17.2072313962, 42.6525807422"
7,7,7,(2017),Al-Jouf,No. of Accidents,10469n,"29.9677445762, 39.5570371172"
8,8,8,(2017),Total,No. of Casualties - Dead,7489n,NaN
9,9,9,(2016),Northern Boarder,No. of Casualties - Injured,631n,"30.197074783, 41.8171186952"

In [538]:
licenses.head(10)

,Unnamed: 0,Year,Administritive Area,Driving Liceses,geo_point_2d
0,0,(2012),Makkah,143954n,"21.628962766, 41.2636898334"
1,1,(1994),Makkah,75349n,"21.628962766, 41.2636898334"
2,2,(1998),Makkah,86082n,"21.628962766, 41.2636898334"
3,3,(2004),Makkah,86636n,"21.628962766, 41.2636898334"
4,4,(2005),Makkah,65099n,"21.628962766, 41.2636898334"
5,5,(2008),Makkah,77013n,"21.628962766, 41.2636898334"
6,6,(2014),Madinah,31447n,"24.927534539, 39.4918237173"
7,7,(2013),Madinah,28513n,"24.927534539, 39.4918237173"
8,8,(2012),Madinah,14459n,"24.927534539, 39.4918237173"
9,9,(1994),Madinah,3767n,"24.927534539, 39.4918237173"

#### 3. Briefly describe the data

Take your time looking through the data and briefly describe the data in the markdown cell below. Note things about what the columns might mean, and the general information that is conveyed in the dataframe.

Answer:

<font color='Blue'>
The first data set Traffic: 
    contain the number of accident and casualties either injured or dead by each city and what year.
    </n>
The second data set License:
    contain the number of licenses issued by each city in timestapm "year"
</font>

#### 4a. How complete is the data?

Investigate missing values etc.

In [539]:
#Code
traffic.isnull().sum()

Unnamed: 0      0
Unnamed: 0.1    0
Year            0
Region          0
Indicator       0
Value           0
geo_point_2d    6
dtype: int64

In [540]:
licenses.isnull().sum()

Unnamed: 0              0
Year                    0
Administritive Area     0
Driving Liceses         0
geo_point_2d           25
dtype: int64

In [541]:
#
#there are 6 geo_point in traffic and 25 geo_point in licenses are null 
# geo_point_2d null value has no important to the dataframe as itmis set to the total 
#

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each dataset? What is the maximum *possible* value?**

In [542]:
traffic_w_total=traffic[traffic.Region != 'Total']

In [543]:
licenses_w_total=licenses[licenses['Administritive Area'] != 'Total']

In [544]:
print ('The possible max value for Traffic dataset is {} and the minimum is {}'.format(traffic_w_total.Value.max(),traffic.Value.min()))
print ('The possible max value for Licenses dataset is {} and the minimum is {}'.format(licenses_w_total['Driving Liceses'].max(),licenses['Driving Liceses'].min()))

The possible max value for Traffic dataset is 99925n and the minimum is 1007n
The possible max value for Licenses dataset is 9983n and the minimum is 100291n

#### 5. What are your data types? 
Display the data types of each feature.

In [545]:
#code
traffic.dtypes

Unnamed: 0       int64
Unnamed: 0.1     int64
Year            object
Region          object
Indicator       object
Value           object
geo_point_2d    object
dtype: object

In [546]:
licenses.dtypes

Unnamed: 0              int64
Year                   object
Administritive Area    object
Driving Liceses        object
geo_point_2d           object
dtype: object

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

Answer:

<font color='blue'>
year columns in both data set shoud be changed to timestamp 
unnamed columns in both dataset is the same as the index so it should be removed
number of indicator and driving licenses removed the n in the end of each value and change the type from string to float
    </font>

#### 6. Fix incorrect data types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert numerical columns to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [547]:
traffic.head()

,Unnamed: 0,Unnamed: 0.1,Year,Region,Indicator,Value,geo_point_2d
0,0,0,(2016),Makkah,No. of Casualties - Injured,12383n,"21.628962766, 41.2636898334"
1,1,1,(2016),Eastern Region,No. of Casualties - Dead,1113n,"23.2883307307, 50.1478302439"
2,2,2,(2016),Tabouk,No. of Casualties - Dead,434n,"27.90165499, 37.2598581394"
3,3,3,(2016),Hail,No. of Casualties - Dead,299n,"27.400845724, 41.4406960508"
4,4,4,(2016),Hail,No. of Accidents,10199n,"27.400845724, 41.4406960508"

In [548]:
licenses.head()

,Unnamed: 0,Year,Administritive Area,Driving Liceses,geo_point_2d
0,0,(2012),Makkah,143954n,"21.628962766, 41.2636898334"
1,1,(1994),Makkah,75349n,"21.628962766, 41.2636898334"
2,2,(1998),Makkah,86082n,"21.628962766, 41.2636898334"
3,3,(2004),Makkah,86636n,"21.628962766, 41.2636898334"
4,4,(2005),Makkah,65099n,"21.628962766, 41.2636898334"

In [549]:
#code
traffic['Value'] = traffic['Value'].apply(lambda x: float(x[:-1]))

In [550]:
licenses['Driving Liceses'] = licenses['Driving Liceses'].apply(lambda x: float(x[:-1]))

In [551]:
licenses.head(2)

,Unnamed: 0,Year,Administritive Area,Driving Liceses,geo_point_2d
0,0,(2012),Makkah,143954.0,"21.628962766, 41.2636898334"
1,1,(1994),Makkah,75349.0,"21.628962766, 41.2636898334"

In [552]:
traffic.head(2)

,Unnamed: 0,Unnamed: 0.1,Year,Region,Indicator,Value,geo_point_2d
0,0,0,(2016),Makkah,No. of Casualties - Injured,12383.0,"21.628962766, 41.2636898334"
1,1,1,(2016),Eastern Region,No. of Casualties - Dead,1113.0,"23.2883307307, 50.1478302439"

- Make new columns `x` and `y` using `geo_point_2d`

In [553]:
traffic[['x','y']] = traffic.geo_point_2d.str.split(",", expand=True)

In [554]:
licenses[['x','y']] = licenses.geo_point_2d.str.split(",", expand=True)

In [555]:
traffic.head()

,Unnamed: 0,Unnamed: 0.1,Year,Region,Indicator,Value,geo_point_2d,x,y
0,0,0,(2016),Makkah,No. of Casualties - Injured,12383.0,"21.628962766, 41.2636898334",21.628962766,41.2636898334
1,1,1,(2016),Eastern Region,No. of Casualties - Dead,1113.0,"23.2883307307, 50.1478302439",23.2883307307,50.1478302439
2,2,2,(2016),Tabouk,No. of Casualties - Dead,434.0,"27.90165499, 37.2598581394",27.90165499,37.2598581394
3,3,3,(2016),Hail,No. of Casualties - Dead,299.0,"27.400845724, 41.4406960508",27.400845724,41.4406960508
4,4,4,(2016),Hail,No. of Accidents,10199.0,"27.400845724, 41.4406960508",27.400845724,41.4406960508

In [556]:
#traffic['geo_point_2d']=traffic['geo_point_2d'].fillna(" ")

In [557]:
#licenses['geo_point_2d']=licenses['geo_point_2d'].fillna(" ")

In [558]:
#code

# traffic["x"] = traffic['geo_point_2d'].apply(lambda n: n.split(" ")[0])
#traffic['y'] = traffic['geo_point_2d'].apply(lambda n: n.split(" ")[1] if type(n) == str else n)

In [559]:
#
#licenses["x"] = licenses['geo_point_2d'].apply(lambda n: n.split(","))
#licenses['y'] = licenses['geo_point_2d'].apply(lambda n: n.split(","))

In [560]:
#licenses["x_"] = licenses.geo_point_2d.apply(lambda x : x.split(',')[0])

In [561]:
#licenses["y_"] = licenses.geo_point_2d.apply(lambda x : x.split(',')[1] if len(x.split(',')) >0)

In [562]:
#del traffic['Unnamed: 0']
traffic = traffic.drop(['Unnamed: 0', 'Unnamed: 0.1', 'geo_point_2d' ], axis=1)

In [563]:
licenses = licenses.drop(['Unnamed: 0', 'geo_point_2d'], axis=1)

- Fix any individual values preventing other columns from being the appropriate type.

In [564]:
traffic['Year'] = traffic.Year.str.replace('[()]', '')

In [565]:
licenses['Year'] = licenses.Year.str.replace('[()]', '')

In [ ]:
########################### clean up to here #############################

In [571]:
traffic.Year = traffic['Year'].astype(int)

In [573]:
licenses.Year = licenses['Year'].astype(int)

In [532]:
#traffic['Year'] = pd.to_datetime(traffic['Year'])
#licenses['Year'] = pd.to_datetime(licenses['Year'])

- Finish your data modifications by making sure the columns are now typed appropriately.

In [575]:
traffic.columns = ['year', 'region', 'indicator', 'value', 'x', 'y']

In [582]:
licenses.columns = ['year', 'administrative_area', 'driving_licenses', 'x', 'y']

- Display the data types again to confirm they are correct.

In [583]:
#Code:
traffic.dtypes

year           int64
region        object
indicator     object
value        float64
x             object
y             object
dtype: object

In [584]:
licenses.dtypes

year                     int64
administrative_area     object
driving_licenses       float64
x                       object
y                       object
dtype: object

#### 7. Rename columns
Change the names of the columns to more expressive names so that you can tell the difference the Driving Licenses  columns and the & Traffic Accidents columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these two datasets, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).
- Please also fix any typos you see in the column names.

In [585]:
#code
traffic.columns = ['year', 'region', 'indicator', 'value', 'x', 'y']
licenses.columns = ['year', 'region', 'driving_licenses', 'x', 'y']

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

<font color='blue'>
<h2>saudi-arabia-traffic-accidents-2008.csv</h2>
</font> 
<ul>
  <li>Year:		timestamp by year</li>
  <li>Region:	region </li>
  <li>Indicator:type of Accidents or Casualties (Injured or Dead) </li>
  <li>Value:	number of Accidents or Casualties (Injured or Dead)</li>
  <li>geo_point_2d:geographic location point (Latitude Longitude)</li>
</ul>  

<font color='blue'>
<h2>saudi-arabia-driving-licenses-2004-2008.csv</h2>
</font> 
<ul>
  <li>Year:		timestamp by year</li>
  <li>Administritive Area:	Area of issued licenses </li>
  <li>Driving Liceses:number of licenses issued </li>
  <li>geo_point_2d:geographic location point (Latitude Longitude)</li>
</ul>

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|Driving_Licenses/Traffic_Accidents|This is an example|

#### 9. Drop unnecessary rows

This study concerns accident and license in regions/area. Please do the followings:
0. Which rows are not associated with regions?
1. Confirm the numbers of all regions add up to total.
2. Remove the rows that are not associated with regions

In [586]:
#code
traffic.region.unique()

array(['Makkah', 'Eastern Region', 'Tabouk', 'Hail', 'Northern Boarder',
       'Jazan', 'Al-Jouf', 'Total', 'Al-Baaha', 'Riyadh', 'Madinah',
       'Qassim', 'Najran', 'Asir'], dtype=object)

In [587]:
licenses.region.unique()

array(['Makkah', 'Madinah', 'Al-Qaseem', 'Eastern', 'Assir', 'Tabouk',
       'Hail', 'Northern Boarder', 'Jazan', 'Najran', 'Al-Baha',
       'Al-Jouf', 'Total', 'Riyadh'], dtype=object)

In [588]:
test = traffic[traffic.region == 'Total']

In [489]:
test

,year,region,indicator,value,geo_point_2d,x,y
8,2017-01-01,Total,No. of Casualties - Dead,7489n,NaN,NaN,NaN
29,2016-01-01,Total,No. of Accidents,533380n,NaN,NaN,NaN
30,2016-01-01,Total,No. of Casualties - Injured,38120n,NaN,NaN,NaN
68,2017-01-01,Total,No. of Accidents,460488n,NaN,NaN,NaN
69,2017-01-01,Total,No. of Casualties - Injured,33199n,NaN,NaN,NaN
77,2016-01-01,Total,No. of Casualties - Dead,9031n,NaN,NaN,NaN

In [589]:
licenses[licenses['year']== 1993]

     year            region  driving_licenses              x               y
34   1993  Northern Boarder            1510.0   30.197074783   41.8171186952
38   1993             Jazan            6009.0  17.2072313962   42.6525807422
60   1993             Total          294893.0            NaN             NaN
132  1993           Al-Baha            3270.0  20.1484058503   41.4665484892
152  1993            Riyadh          103886.0  23.0814341634   45.5857512766
186  1993            Makkah           65977.0   21.628962766   41.2636898334
211  1993            Tabouk            3174.0    27.90165499   37.2598581394
216  1993              Hail           10484.0   27.400845724   41.4406960508
226  1993            Najran            3769.0  18.4511003068   46.8688495726
235  1993           Al-Jouf            2884.0  29.9677445762   39.5570371172
249  1993           Madinah            4122.0   24.927534539   39.4918237173
325  1993         Al-Qaseem           73618.0  26.1967063704   43.3429998455
332  1993           Eastern            9964.0  23.2883307307   50.1478302439
338  1993             Assir            6226.0  19.1387847401    42.941470036

#### 10a. Data formats
Is the License data in long or wide format? How about the Accident data? And why?

In [491]:
#code

#### 10b. Changing formats
Which format would work best for both dataframes? Transform the datasets to the same format before merging in the next task.

In [492]:
#code

#### 11. Merge dataframes

Join the Driving Licenses & Traffic Accidents dataframes using the **region** and **year** in each dataframe as the key. Assign this to a new variable. Which join should you use to preserve the most data?

In [ ]:
#code

#### 12. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_datasets.csv`.

In [ ]:
#code

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [ ]:
#Code:

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [ ]:
#code

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'Driving_Licenses_x': 120, 'Traffic_Accidents_x': 120, ...}`

In [ ]:
#Code:

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer:

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which regions have the highest and lowest Driving Licenses based on years (1993 - 2017)
- Which regions have the highest and lowest mean Traffic Accidents numbers for years (2016 - 2017)
- What are the regions that have more Driving Licenses issued in each year than the year average?
- What are the regions that have more Traffic Accidents happened in each year than the year average?

Based on what you've just observed, have you identified any regions that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#code

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

#### Define a custom function to subplot histograms

We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Driving Licenses number
- Traffic Accidents number

Please plot two additional histograms that will help with your understanding of the data

In [ ]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- Driving Licenses vs. Traffic Accidents for 2017
- Driving Licenses vs. Traffic Accidents for 2016
- Driving Licenses for 2016 vs 2017
- Traffic Accidents for 2016 vs 2017

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:

#### We generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?

Answer:

Does This Assumption Hold for:
    - Driving Licenses
    - Traffic Accidents
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code

## Outside Research

Based upon your observations, choose **three** regions that demonstrate interesting trends in the number of driving licenses and traffic accidents. Spend some time doing outside research on provincial and central policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

Answer:

## Conclusions and Recommendations

- Based on your exploration of the data, what are you key takeaways and recommendations?
- Are there additional data you desire that would better inform your investigations?

Answer: